networks:
  codebreaker_net:
    driver: bridge

services:
  server:
    build:
      context: .
      dockerfile: cmd/server/Dockerfile
    container_name: codebreaker-server
    ports:
      - "8080:8080"
    environment:
      MAX_PLAYERS: 2
      CODE_LENGTH: 4
      DIFFICULTY: easy
      TURN_TIME_SECONDS: 20
    networks:
      - codebreaker_net

  client1:
    build:
      context: .
      dockerfile: cmd/client/Dockerfile
    container_name: client1
    stdin_open: true
    tty: true
    environment:
      SERVER_ADDR: host.docker.internal:8080
    depends_on:
      - server
    networks:
      - codebreaker_net

  client2:
    build:
      context: .
      dockerfile: cmd/client/Dockerfile
    container_name: client2
    stdin_open: true
    tty: true
    environment:
      SERVER_ADDR: host.docker.internal:8080
    depends_on:
      - server
    networks:
      - codebreaker_net
